<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enroll</title>
    <style type="text/css">
      h3{
        margin: 2px auto;
      }
      .form-group{
        margin: 5vh auto;
      }
      #errorMessage{
        color: red;
      }
    </style>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="container">
      <h3>Register New User</h3>
      <form method="post" action="/enroll" class="form-group">
        <label>User Name: </label>
        <input type="text" name="fullname" class="form-control">
        <input type="hidden" name="command" value="start_registration" >
        <input type="submit" value="start process" class="btn btn-dark" style="margin-top: 12px; float: right">
      </form>
      <div id="errorMessage">
        {{dic.message}}
      </div>
      
    </div>

    
    {% endblock %}
  </body>
</html>